@mixin fontSizer($scale) {
	font-size: $scale * 1px;
	font-size: ($scale / 10) * 1rem;
}

@mixin centeredSection {
	height: 100vh;
	min-height: 500px;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}